{% extends 'base.html' %}
{% block body %}

	<div class="span9">

		<form id="serch_form" method="port" action="/app/list_view">
			{% csrf_token %}
			<p> <label for="category">Sort By</label>
			<select id="category">
				<option value selected="selected">-----</option>

				{% for cat in categories %}
				<option >{{ cat  }}</option>
				{% endfor %}
			</select> <input  type="submit" name="submit" value="Search"></p>
		</form>

		<div class="well well-small">
			{% if object_list %}
			{% for product in object_list %}
			<div class="row-fluid">
				<div class="span2">
					<img src={{ product.productLogo.url }} alt="">
				</div>
				<div class="span6">
					<h5>{{ product.name | upper }} </h5>
					<p>
					{{ product.description }}
                        {{ product.color }} {{ product.style }}
					</p>
				</div>
				<div class="span4 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> ${{ product.price }}</h3>
				<label class="checkbox">
					<input type="checkbox">  Adds product to compair
				</label><br>
				<div class="btn-group">
				  <a href="/app/product_details/{{ product.id }}" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
				  <a href="/app/product_details/{{ product.id }}" class="shopBtn">VIEW</a>
				 </div>
					</form>
				</div>
			</div>
			<hr class="soften">
            {% endfor %}

					{% if is_paginated %}
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?page={{ page_obj.previous_page_number }}"> Previous </a>
						{% endif %}
						<span class="current">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
						</span>
						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}"> Next </a>
						{% endif %}
					</span>
					{% endif %}

			{% else %}
			<h3>No goods here yet. Sorry for now!</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}