{% extends 'base.html' %}
{% block body %}
	<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="products.html">Items</a> <span class="divider">/</span></li>
    <li class="active">Preview</li>
    </ul>	
	<div class="well well-small">
	<div class="row-fluid">
			<div class="span5">
			<div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="#"> <img src={{ product.productLogo.url }} alt="" style="width:100%"></a>
                  </div>
                  <div class="item">
                     <a href="#"> <img src={{ product.productLogo.url }} alt="" style="width:100%"></a>
                  </div>
                  <div class="item">
                    <a href="#"> <img src={{ product.productLogo.url }} alt="" style="width:100%"></a>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
			</div>
			<div class="span7">
				<h3>{{ product.name }}</h3>
				{% if user.is_authenticated %}
				<input type="button" id="delete" value="Delete " data-prod="{{ product.id }}"/>

				<a id="loadUpdateViewJquery" data-prod="{{ product.id }}"><input type="button" value="Edit "/></a>
				{% endif %}
				<hr class="soft"/>
				
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>${{ product.price }}</span></label>
					<div class="controls">
					<input type="number" class="span6" placeholder="Qty.">
					</div>
				  </div>
				  <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Add to cart</button>
				</form>

				<div >Number of likes is <p id="like_count">{{ product.like }}</p>
					<input type="button" id="like" value="Like it press here" data-prod="{{ product.id }}"/>
				</div>



			</div>
			</div>
				<hr class="softn clr"/>


            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
              <li class=""><a href="#profile" data-toggle="tab">Related Products </a></li>
            </ul>

            <div id="myTabContent" class="tab-content tabWrapper">
				<div class="tab-pane fade active in" id="home">
				  <h4>Product Information</h4>
					<table class="table table-striped">
					<tbody>
					<tr class="techSpecRow"><td class="techSpecTD1">Color:</td><td class="techSpecTD2">{{ product.color }}</td></tr>
					<tr class="techSpecRow"><td class="techSpecTD1">Style:</td><td class="techSpecTD2">{{ product.style }}</td></tr>
					<tr class="techSpecRow"><td class="techSpecTD1">Season:</td><td class="techSpecTD2">{{ product.season }}</td></tr>
					<tr class="techSpecRow"><td class="techSpecTD1">Category:</td><td class="techSpecTD2">{{ product.category }}</td></tr>
					<tr class="techSpecRow"><td class="techSpecTD1">Like:</td><td class="techSpecTD2">{{ product.like }}</td></tr>
					</tbody>
					</table>
					<p>{{ product.description }}</p>
				</div>

				<div class="tab-pane fade" id="profile">
					{% for product in related_products %}
						<div class="row-fluid">
							<div class="span2">
								<img src={{ product.productLogo.url }} alt="">
							</div>
							<div class="span6">
								<h5>{{ product.name | upper }} </h5>
								<p>
									{{ product.description}}
								</p>
							</div>
							<div class="span4 alignR">
							<form class="form-horizontal qtyFrm">
							<h3> ${{ product.price }}</h3>
							<label class="checkbox">
								<input type="checkbox">  Adds product to compair
							</label><br>
							<div class="btn-group">
							  <a href="/app/product_details/{{ product.id }}" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
							  <a href="/app/product_details/{{ product.id }}" class="shopBtn">VIEW</a>
							 </div>
								</form>
							</div>
						</div>
						<hr class="soft">
            		{% endfor %}
				</div>
            </div>

	</div>
	</div>
{% endblock %}