{% extends 'base.html' %}
{% block body %}

	<div class="span9">
		<ul class="breadcrumb">
			<li><a href="/app/index">Home</a> <span class="divider">/</span></li>
			<li class="active">Registration</li>
		</ul>
		<h3> Registration</h3>
		<hr class="soft"/>

		{% if createdUser %}
		<strong>Information has been sent successfully !</strong>
		{% else %}

		<div class="well">
			<form class="form-horizontal" method="post" action="/app/register/" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}
				<h3>Your Personal Details</h3>
				<div class="control-group">
					<div class="controls">
						{{ user_form.as_p }}
						{{ profile_form.as_p }}
					</div>
				</div>
				<div class="control-group">
				<div class="controls">
				 <input type="submit" name="submitAccount" value="Register" class="exclusive shopBtn">
				</div>
				</div>
			</form>
		</div>

		{% endif %}

</div>

{% endblock %}